.box{
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
    grid-template-areas: 
    "a . c"
    "e g f"
    "d . b";
    align-items: center;
    /* justify-content: center; */
}

/* .dot{
    justify-self: center;
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
} */

.dot{
    background-image: url(../assets/circle.svg);
    height: 5px;
    width: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 3.7px;
}

.dot:nth-child(1){
    grid-area: a;
}
.dot:nth-child(2){
    grid-area: b;
}
.dot:nth-child(3){
    grid-area: c;
}
.dot:nth-child(4){
    grid-area: d;
}
.dot:nth-child(5){
    grid-area: e;
}
.dot:nth-child(6){
    grid-area: f;
}

.dot:nth-child(odd):last-child{
    grid-area: g;
}